body{
    height: 100%;
}

.pic{
    position: absolute;
    width: 83%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}
.card{
    position: relative;
    width:100%;
}

.dead{
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 40%;
    opacity:0;
}

.bloquedeck{
    position: absolute;
    width: 21%;
    border: 5px double white;
    border-radius: 20px;
    margin: 10px;
    float: left;
    padding: 2px;
    z-index:0;
    font-size: 50%;
}

.bloquedeck:hover{
    z-index:2;
}

#decks{
    float: right;
    width: 30%;
    top: 5%;
    position: relative;
    height: 100%;
}
.bloque{
    position: relative;
    width: 21%;
    border: 5px double white;
    border-radius: 20px;
    margin: 10px;
    float: left;
    padding: 2px;
}

#start, #startgame, #facile{
    position:absolute;
    right:0
}

#start{
    top:0;
}

#facile{
    top:50%;
}

.cdeck{
    position: relative;
    height: fit-content;
    width: 100%;  
}



#list{
    position: relative;
    width: 70%;
    left: 0%;
    overflow: scroll;
    top: 5%;
    height: 100%;
    float: left;
}
.naming{
    position: absolute;
margin: 0;
top: 55%;
width: 100%;
text-align: center;
text-shadow: 1px 1px 3px black;

}

.note{
    position: absolute;
margin: 0;
top: 5%;
width: 100%;
text-align: center;
}


.attaque{
    position: absolute;
margin: 0;
top: 64%;
width: fit-content;
text-align: center;
left: 16%;
}
.HP{
    position: absolute;
    margin: 0;
    top: 70%;
    width: fit-content;
    text-align: center;
    left: 16%;
}

.vitesse{
    position: absolute;
    margin: 0;
    top: 64%;
    width: fit-content;
    text-align: center;
    left: 68%;
}

.crew{
    position: absolute;
    margin: 0;
    top: 78%;
    width: fit-content;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) scaleX(0.7);
    font-size: 115%;
}

.crewlogo{
    position: absolute;
    margin: 0;
    top: 87%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 9%;

}


#listee {
    width: 49%;
    left: 47%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 41%;
    overflow:hidden;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);

}

.bloquel{
    top:-250px;
    position: relative;
    width:25%;
    float:left;
    margin:20px
}



#newpick{
    /*position: relative;*/
    left: -47%;
    width: 40%;
    overflow: scroll;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

#newpick::-webkit-scrollbar {
    display: none;
  }
  


.bloque2{
    position: relative;
    width: 32%;
    border: 0px solid red;
    border-radius: 20px;
    float: left;
    z-index:0;
}

.bloque3{
    position: relative;
    z-index:0;
    width: 26%;
    border: 0px solid red;
    border-radius: 20px;
    margin: -33px;
    float: left;
    transform: scale(0.7);
}




.bloque4{
    z-index:0;
    position: relative;
    width: 26%;
    border: 0px solid red;
    border-radius: 20px;
    float: left;
    transform: scale(0.7);
    margin: -33px 10px; 
}

.bloque5{
    z-index:0;
    position: relative;
    width: 26%;
    border: 0px solid red;
    border-radius: 20px;
    margin: -33px 10px -33px -33px;
    float: left;
    transform: scale(0.7);
    clear:left;
}
html {
    height: 100%;
}

#fightlist{
    position:absolute;
    width:50%;
    height:100%;
    left:5%
}
#fightlistOP{
    position:absolute;
    width:50%;
    height:100%;
    right:5%
}

.bloque33{
    z-index:0;
    position: relative;
    width: 26%;
    border: 0px solid red;
    border-radius: 20px;
    margin: -33px;
    float: right;
    transform: scale(0.7);
}

.bloque44{
    z-index:0;
    position: relative;
    width: 26%;
    border: 0px solid red;
    border-radius: 20px;
    float: right;
    transform: scale(0.7);
    margin: -33px 10px; 
}

.bloque55{
    z-index:0;
    position: relative;
    width: 26%;
    border: 0px solid red;
    border-radius: 20px;
    margin: -33px -33px -33px -10px;
    float: right;
    transform: scale(0.7);
    clear:right;
}