body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 5;
    color: #fff;
}

.info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
}
  
.info i {
    color:#55acee;
}
  
h1 {
    text-align:center; 
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
}
  
h2 {
    font-size: 120%;
    font-weight: 600;
}
  
h3 {
    font-size: 100%;
    font-weight: 600;
}
  
a {
    text-decoration: inherit;
    color: inherit;
}
  
a:hover {
    text-decoration: inherit;
}
  
hr {
    position: relative;
    margin-top: 13%;
    border: 1px solid #fff;
    border-radius: 50px;
    opacity: 0.15;
}
  
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    z-index:-1;
}
  
.container {
    display: block;
    position: relative;
    width: 530px;
    height: 540px;
    margin: 29%;
    margin-top: 2%; 
    box-shadow: 1px 5px 10px 1px #333;
    overflow:hidden;
}
  
img.bg-img {
    display: block;
    position: absolute;
    margin: auto;
}
  
.menu {
    position: relative;
    padding: 8% 11% 1% 15%;
}
  
.menu h2 {
    display: inline;
    margin: 9%;
    padding-bottom: 1%;
    border-bottom: 3px solid #1161ee;
}
a:not(.active) {
    cursor:inherit;
}

.menu .active h2 {
    border-bottom: 0 solid #1161ee;
    color: #d1d1d1;
    transition: color 0.5s ease-in;
}
  
.connexion {
    position: absolute;
    padding: 1% 13%;
    width: 74%;
    left:0px;
    transition: all 0.7s;
}
  
.connexion h2 {
    display: inline;
    margin: 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid #1161ee;
}
  
.connexion h4 {
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
}
  
.connexion h4:hover {
    opacity: 0.8;
    transition: all 0.1s ease-in;
}
  
label {
    display: block;
    margin-top: 3%;
    padding: 3% 3%;
    font-size: 100%;
    font-weight: 600;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
  }

input {
    display: block;
    width: 93%;
    margin: auto;
    padding: 2.5%;
    border: 0;
    border-radius: 20px;
    font-family: "Roboto",sans-serif;
    background: transparent;
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgba(213, 213, 213, 0.3);    
}

input:active {
    outline: 2px auto #4d90fe;
}
  
input.submit {
    width: 100%;
    padding: 3%;
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    background-color: #1161EE;
    cursor: pointer;
    outline-offset: 0px;
}

input.submit:active {
    outline: 2px auto #4d90fe;
}

input.submit:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }

.check label {
    float: left;
    width: 10%;
    margin-left: 5%;
}
  
.check h3 {
    padding: 6%;
}
  
.checkbox {
    display: none;
} 
.checkbox:checked + svg .path-moving {
    -webkit-transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s cubic-bezier(.3,.8,.6,1.5);
    transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s cubic-bezier(.3,.8,.6,1.5);
    stroke-dasharray: 25 90;
    stroke-dashoffset: 0;
}

.path-moving,
.path-back {
    fill: none;
    stroke: #1161ee;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
  
.path-moving {
    -webkit-transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s;
    transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s;
    stroke: #ffffff;
    stroke-dasharray: 110;
    stroke-dashoffset: -32;
}
.enregistrer {
    position: absolute;
    padding: 1% 24%;
    width: 57%;
    right:0%;
    transition: all 0.7s;
}
.active-section {
    position: absolute;
    right:200%;
}
.remove-section {
    position: absolute;
    left: 200%;
}
  

.submite {
    width: 77px;
    height: 30px;
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    background-color: #1161EE;
    cursor: pointer;
    outline-offset: 0px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    display: block;
    top: 10px;
    line-height: 0px;
    margin: auto;
    right: 20px;
}

.submite:active {
    outline: 2px auto #4d90fe;
}

.submite:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }