#tool{
    position:absolute;
    top:20%;
}
.levelname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#menu{
    position: absolute;
    left: 25%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

#back{
    position:absolute;
    right:2%;
    top:2%;
}

body{
    background: radial-gradient(circle at 18.39% 52.77%, #383d6a 0, #342c76 25%, #151559 50%, #191e3f 75%, #222432 100%);
    overflow:hidden

}

#history {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }

.levelcard{
    position: absolute;
width: 50%;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
height: 50%;
background-color: white;
border: 2px solid black;
border-radius: 3px;
}


#niveaux{
    position: absolute;
    width: 20%;
    right: 5%;
    overflow: scroll;
    max-height: 80%;
}

.buttonlvl{
    clear: left;
    display: block;
    background-color: "#f0f0f0";
}
/* .buttonlvl:hover{
    background-color: red;
} */